body {
	box-sizing: border-box;
	font-family: arial, sans-serif;
	margin: 0px;
}

.nav {
 
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: rgba(133, 117, 117, 1.0);
}

.nav_list {
	list-style: none;
	margin-left: 720px;
	margin-top: 6px;
}

.nav_item {
	font-size: 13px;
	margin: 8px;
}

.nav_item, .bottom-left, .bottom-right {
	display: inline-block;
}

.apps {
	width: 25px;
	height: 25px;
	margin-bottom: -8px;
}

.notification {
	width: 24px;
	height: 24px;
	margin-bottom: -8px;
}

.k-logo {
	width: 30px;
	height: 30px;
	margin-bottom: -8px;
}

.google {
	width: 260px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

main {
	margin-top: 120px;
}

form {
	width: 442px;
	margin-left: auto;
	margin-right: auto;
}

input {
	width: 436px;
	height: 30px;
	margin-bottom: 30px;
	border: 1px solid rgba(217, 217, 217, 1.0);
}

.btn-row {
	width: 270px;
	margin-right: auto;
	margin-left: auto;
}

button {
	-webkit-appearance: none;
	border-style: none;
	height: 34px;
	padding: 3px 12px 3px 12px;
}

button:hover {
	color: black; 
	border: 1px solid black;
}

.right {
	margin-left: 3px;
}

.right, .left {
	background-color:rgba(242, 242, 242, 1.0);
	color: rgba(133, 117, 117, 1.0);
	font-size: 13px;
}

.footer {
	width: 100%;
	height: 45px;
	background-color:rgba(242, 242, 242, 1.0);
	position: absolute;
	bottom: 0;
	border-top: 1px solid rgba(228, 228, 228, 1.0);
}

.list-left, .list-right {
	display: inline-block;
	color: rgba(133, 117, 117, 1.0);

}

.list-left {
	margin-left: -23px;
}

.list-right {
	margin-left: 470px;
}

.bottom-left, .bottom-right {
	margin-left: 15px;
	margin-right: 15px;
	font-size: 13px;
}